<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Inscription</title>
    <%- include('general/navigation', {estConnecte: 0}); %>
</head>


<body>

<%- include('general/flash', { errors: errors}) %>

<div class="container col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <br>
    <% for (var i = 0; i < errors.length; i++) { %>
        <div class="alert alert-danger text-center" role="alert">
            <%= errors[i] %>
        </div>
    <% } %>
<form method="post" action="/users/inscription">
    <div class="form-group">
        <label for="sexe">M.</label>
        <input type="radio" name="sexe" id="sexe" value="1" <% if (data !== undefined && data.sexe_utilisateur === '1') { %> checked <% } %> required/>
        <label for="sexe">Mme</label>
        <input type="radio" name="sexe" id="sexe" value="2" <% if (data !== undefined && data.sexe_utilisateur === '2') { %> checked <% } %> required/>
    </div>
    <div class="form-group">
        <label for="nom">Nom</label> :
        <input type="text" class="form-control" name="nom" id="nom" <% if (data !== undefined && data.nom_utilisateur !== undefined) {
            %> value="<%= data.nom_utilisateur %>" <% } %> required />
    </div>

    <div class="form-group">
        <label for="prenom">Prénom</label> :
        <input type="text" class="form-control" name="prenom" id="prenom" <% if (data !== undefined && data.prenom_utilisateur !== undefined) {
        %> value="<%= data.prenom_utilisateur %>" <% } %> required />
    </div>

    <div class="form-group">
        <label for="mail">Mail</label> :
        <input type="email" class="form-control" name="mail" id="mail" <% if (data !== undefined && data.mail_utilisateur !== undefined) {
        %> value="<%= data.mail_utilisateur %>" <% } %> required />
    </div>

    <div class="form-group">
        <label for="password">Mot de passe (8 caractères minimum)</label> :
        <input type="password" class="form-control" name="password" id="password" required />
    </div>

    <div class="form-group">
        <label for="telephone">Télephone</label> (facultatif) :
        <input type="text" class="form-control" name="telephone" id="telephone" <% if (data !== undefined && data.telephone_utilisateur !== undefined) {
        %> value="<%= data.telephone_utilisateur %>" <% } %> />
    </div>

    <div class="form-group text-center">
        <input type="submit" class="btn btn-primary btn-dr" value="Valider l'inscription">
    </div>
</form>
</div>
<br>
<div class="text-center">
    <a class="btn btn-secondary" href="/users/login">Déjà un compte ? Connectez-vous !</a>
</div>

</body>

</html>