<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Liste produits</title>
    <%- include('../general/navigation'); %>
</head>


<body>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Nom du produit</th>
            <th scope="col">Provenance</th>
            <th scope="col">Prix</th>
            <th scope="col">Poids</th>
            <th scope="col">Bio</th>

        </tr>
        </thead>
        <tbody id="list_produits">
        <% for (var i = 0; i < produits.length; i++) { %>
            <tr>
                <td><a href="/produits/details/<%= produits[i].id_produit %>"><img src="<%= produits[i].photo_produit %>" width="100" class="img-fluid" alt="Responsive image"></a></td>
                <th id="nom_produit"><a href="/produits/details/<%= produits[i].id_produit %>"><%= produits[i].libelle_produit %></a></th>
                <td><%= produits[i].provenance_produit %></td>
                <td><%= produits[i].prix_produit %> € / kg</td>
                <td><% if (produits[i].poids_produit < 1) { %>
                    <%= produits[i].poids_produit*1000 %> g
                <% }
                else { %>
                    <%= produits[i].poids_produit %> kg
                <% } %></td>
                <td><% if (produits[i].est_bio === 0) { %>
                        Non
                    <% }
                    else { %>
                        Oui
                        <% } %></td>
            </tr>
        <% } %>
        </tbody>
    </table>


</body>
<script>
    $(document).ready(function(){
        $("#search_box").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#list_produits tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</html>