<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Détails commande</title>
    <%- include('../../general/navigation', {estConnecte: locals.estConnecte}); %>
</head>


<body>

<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom du produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 1; i <= commande.length; i++) { %>
            <tr>
                <th scope="row"><%= i %></th>
                <td><%= commande[i-1].libelle_produit %></td>
                <td><%= commande[i-1].quantite_produit %></td>
                <td><%= commande[i-1].prix %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>


</body>

</html>