<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Mes commandes</title>
    <%- include('../../general/navigation'); %>
</head>


<body>

<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date de la commande</th>
            <th scope="col">Date de retrait</th>
            <th scope="col">Statut de la commande</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 1; i <= commandes.length; i++) { %>
            <tr>
                <th><%= i %></th>
                <td><%= commandes[i-1].date_commande %></td>
                <td><%= commandes[i-1].date_retrait_commande %></td>
                <td><%= commandes[i-1].libelle_statut_commande %></td>
                <td><a class="btn btn-primary" href="/users/client/commandes/<%= commandes[i-1].id_commande %>">Voir la commande</a></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>


</body>

</html>