<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Mon panier</title>
    <%- include('../../general/navigation'); %>
</head>


<body>

<table class="table" id="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Photo du produit</th>
        <th scope="col">Nom du produit</th>
        <th scope="col">Prix</th>
        <th scope="col">Poids</th>
        <th scope="col">Quantité commandée</th>
        <th scope="col">Montant à payer</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <%  var prix_total = 0;
        for (var i = 0; i < panier.length; i++) {
            prix = panier[i].quantite*panier[i].poids_produit*panier[i].prix_produit;
            prix = Math.round(prix*100)/100;
            prix_total += prix %>
        <tr id="ligne_<%= i%>">
            <td><img src="/public/images/produits/<%= panier[i].photo_produit %>" width="100" class="img-fluid" alt="Responsive image"></td>
            <td><%= panier[i].libelle_produit %></td>
            <td><%= panier[i].prix_produit %> € / kg</td>
            <td><% if (panier[i].poids_produit < 1) { %>
                    <%= panier[i].poids_produit*1000 %> g
                <% }
                else { %>
                    <%= panier[i].poids_produit %> kg
                <% } %></td>
            <td><%= panier[i].quantite%></td>
            <td id="prix_produit_<%= i %>"><%= prix %> €</td>
            <td><button id="button_delete<%= i %>" class="btn btn-warning">Supprimer</button></td>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#button_delete<%= i %>').click(function () {
                        $.ajax({
                            url: '/users/client/panier',
                            type: 'DELETE',
                            data: {id_produit: <%= panier[i].id_produit %>},
                            dataType: 'html',
                            success: function () {
                                /*let prix_total = document.getElementById('prix_total').textContent;
                                let new_prix_total = prix_total - panier[i].quantite*panier[i].poids_produit*panier[i].prix_produit;
                                document.getElementById('prix_total').innerText = new_prix_total;*/
                                $(document.getElementById('ligne_<%= i %>')).toggle('fast');
                            },
                            error: function () {
                                console.log("Erreur");
                            }
                        })
                    });
                });
            </script>
        </tr>
    <% } %>
    </tbody>
</table>

Prix total :
<div id="prix_total">
    <%= prix_total %>
</div> €
<br>

<%
let d = new Date();
let day = d.getDate();
let month = d.getMonth()+1;
let year = d.getFullYear();
let full_date = year+"-"+(month < 10 ? "0"+month : month)+'-'+(day < 10 ? "0"+day : day);
%>

<form action="/users/client/panier" method="post">
    <div class="form-group">
        <label for="date_retrait_commande">Date</label> :
        <input type="date" class="form-group" min="<%= full_date %>" id="date_retrait_commande" name="date_retrait_commande" required>
    </div>

    <div class="form-group">
        <label for="heure_retrait_commande">Heure</label> :
        <input type="time" id="heure_retrait_commande" name="heure_retrait_commande">
    </div>

    <input type="submit" class="btn btn-success" value="Valider la commande">
</form>

</body>

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
</html>