<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <title>Mon profil</title>
    <%- include('../general/navigation'); %>
</head>


<body>

Nom : <%= user.nom_utilisateur %> <br>
Prénom : <%= user.prenom_utilisateur %> <br>
Mail : <%= user.mail_utilisateur %> <br>
Téléphone : <%= (user.telephone_utilisateur === null ? "Numéro de téléphone non renseigné" : user.telephone_utilisateur) %>
<br>

<a href="/users/profil_modify" class="btn btn-primary">Modifier son profil</a>

<% if (locals.type_utilisateur !== 1) { %>
<form action="/users/profil?_method=PUT" id="form_delete" method="post">
    <input type="submit" id="input_delete" class="btn btn-danger" value="Supprimer ses infos">
    <input type="hidden" name="_method" value="PUT">
</form>
<% } %>


</body>
</html>